/* Event Css*/

/* Hele driten*/
#event_Innhold{
    height: 1000px;
    width: 100%;
    
}
/*Overskrift*/
#event_overskrift{
    text-align: center;
}
/* Hoveddel*/
#event_hoveddel{
    margin-top: 40px;
    width: 500px;    
}


#event_info {
    height: auto;
    width: auto;
    position: relative;
    
    font-size: 30px;
}
#event_info h2{
    font-size: 40px;
}




    




