/* Event Css*/

/* Hele driten*/
#event_Innhold{
    height: 1000px;
    width: 100%;
    
}
/*Overskrift*/
#event_overskrift{
    text-align: center;
}
/* Hoveddel*/
#event_hoveddel{
    margin-top: 40px;
    width: 500px;    
}
         
/* cards*/
#event_cards{
    height: auto;
    width:  auto;
    padding: 30px;
    margin-top: 30px;
    
}
#event_cards div{
    margin-right: 214px;
    width: 200px;
    height: 300px;
    float: left;
    
}

#event_cards p{
    display:none;
    text-align: center;
    margin-top: 50%;
    font-family: "Lucida Console", Courier, monospace;   
}

#card_1{
    
    background-image: url("../img/KasperFoss.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    float: left;
}

#card_2{
    
    background-image: url(../img/KasperFoss.jpg);
    background-repeat:no-repeat;
    background-size:contain;
}

#card_3{
    
    background-image: url("../img/KasperFoss.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    float: right;
}

/* Effects*/

#event_cards div:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.2;
    transition: 1s ease;

}
#event_cards div:hover > p{
    display: block;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
    transition: 1s ease;

}




