.footer {
    background: rgb(0, 0, 0);
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(0, 0, 0, 1)),
        color-stop(7%, rgba(47, 0, 0, 1)),
        color-stop(86%, rgba(170, 14, 0, 1))
    );
    background: -o-linear-gradient(
        bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(47, 0, 0, 1) 7%,
        rgba(170, 14, 0, 1) 86%
    );
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(47, 0, 0, 1) 7%,
        rgba(170, 14, 0, 1) 86%
    );
    position: relative;
    color: white;

    width: 100%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer-bottom {
    color: white;
    height: 20px;
    margin: auto;
    margin-top: 1em;
}

.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer-section-links ul li {
    list-style: none;
}

.footer-section-links ul li a {
    text-decoration: none;
    color: white;
}
