h2 {
    margin-bottom: 1em;
}

.some_liste {
    margin-top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.some_liste a img {
    width: 50px;
}

.kontaktskjema {
    border: solid 1px black;
    padding: 2em;
    margin-bottom: 3em;
}

.kontakt-img {
    width: 70%;
    margin: auto;
}

.kontakt-img img {
    width: 100%;
}

.kontakt-img-grid {
    margin-top: 3em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.kontakt-img-grid img {
    width: 40%;
    height: 40%;
}
