nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 7vh;
    background: #870000;
    z-index: 50;
}

.logo {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;

    padding: 1em;
}

.logo a{
    color: #ffffff;
    text-decoration: none;
}

.nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 45%;
    list-style: none;
}

.nav-links a {
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
}

@media screen and (max-width: 914px) {
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background-color: #aa0e00;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.nav-active li {
    opacity: 1;
}
