
.profile_picture {
    width: 223px;
}
p {
    margin-bottom: 50px;
}

body {
    height: 100%;
    line-height: 25px;
}

.footer {
    color: #000;
    background-color: black;
    height: 120px;
}
.footer-bottom {
    background: #343a40;
    color: brown;
    height: 200px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;


}
.footer-content {
   border: 1px solid red;
   height: 350px;

   
}
.page.wrapper {
    min-height: 100%;
}

}

