.profile_picture {
    width: 223px;
    margin-bottom: 25px;
}
p {
    margin-bottom: 50px;
}

body {
    height: 100%;
    line-height: 25px;
}

#Karakterer {
    margin-bottom: 30px;
}
#Listeoverpersoner {
    margin-bottom: 30px;
}
