html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffa270;
}

body {
    width: 75%;
    margin: 0px auto;
    background-color: white;
    position: relative;
    top: 0px;
}

.Title {
    text-align: center;
    background-color: #ff7043;
    margin: 0px;
    width: 100%;
    position: relative;
    top: 0px;
    padding: 1em 0px;
}

.Byline {
    text-align: right;
}

.Gruppemedlemmer {
    font-style: italic;
}

.Dato {
    font-style: italic;
    color: #666;
}

.Klient {
    width: 90%;
    margin: auto;
}

.Content {
    width: 90%;
    margin: auto;
}

.Bilde-Kasper {
    margin: auto;
    text-align: center;
}

.Bilde-Kasper img {
    width: 40%;
    object-fit: cover;
}

footer {
    position: relative;
    padding: 1%;
    background: rgba(256, 256, 256, 100);
}

.logo {
    margin: auto;
    padding: 1%;
    background: #ff7043;
    width: 20%; 
}

.logo img {
    width: 25%;
}